@model AddBenefitsViewModel
@{

    ViewData["Title"] = "افزودن حساب واریز سود";
}
<div class="iq-card">

    <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
            <h4 class="card-title">افزودن حساب واریز سود </h4>
        </div>
    </div>
    <div class="iq-card-body">

        <form asp-action="Add" asp-controller="Benefit" method="post">





            <div class="form-group col-md-12">
                <label asp-for="Description">توضیحات</label>
                <textarea class="form-control" rows="5" asp-for="Description"></textarea>
            </div>


            <button type="submit" class="btn btn-success mb-3 ml-0 mb-2">
            <i class="ri-save-fill ml-2"></i>افزودن</button>
            <button asp-controller="Benefit" asp-action="List" class="btn btn-secondary mb-3">
            <i class="ri-refresh-fill ml-2"></i>انصراف</button>

        </form>
    </div>
</div>
