@model FamilyLoan.Endpoints.WebUI.VIewModels.Loans.DetailsLoanVIewModel
@{
    ViewData["Title"] = "جزییات وام";
}
<div id="»LoansDetails">


    <table class="table table-striped">
        <tr>

           
            <th>توضیحات</th>
        </tr>
        <tr>

          
            <td>@Model.Description</td>
        </tr>
    </table>
</div>