@model UpdateLoanViewModel
@{
    ViewData["Title"] = "ویرایش وام";

}
<div class="iq-card">

    <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
            <h4 class="card-title">ویرایش وام </h4>
        </div>
    </div>
    <div class="iq-card-body">

        <form asp-action="Update" asp-controller="Loan" method="post">


            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CustomerId" />

            <div class="form-group">
                <label asp-for="LoanAmount"></label>
                <div class="input-group">

                    <input type="text" class="form-control amounts" readonly asp-for="LoanAmount">
                </div>

            </div>


            <div class="form-group">
                <label asp-for="LoanDateStart"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text cursor-pointer" id="spanLoanDateStart">تاریخ</span>
                    </div>
                    <input type="text" class="form-control" asp-for="LoanDateStart">
                </div>

            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" asp-for="Description"></textarea>
            </div>
            <button type="submit" class="btn btn-warning mb-3"><i class="ri-edit-fill ml-2"></i>ویرایش</button>
            <button asp-controller="Loan" asp-action="List" class="btn btn-secondary mb-3">
            <i class="ri-refresh-fill ml-2"></i>انصراف</button>
        </form>
    </div>
</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="~/Controllers/Loans/LoanJS.js"></script>
 
}