@model DetailsAccountViewModel

@{

ViewData["Title"] = "جزییات حساب";
    }

<div id="AccountDetails">


    <table class="table table-striped">
       <thead >
        <tr>
            
            
            <th>توضیحات</th>
        </tr>
           </thead> 
        <tbody>

        <tr>
           
            
            <td>@Model.Description</td>
        </tr>
        </tbody>
    </table>
</div>