@model UpdateAccountViewModel
@{

ViewData["Title"] = "ویرایش حساب";
    }
<div class="iq-card">

    <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
            <h4 class="card-title">ویرایش حساب </h4>
        </div>
    </div>
    <div class="iq-card-body">

        <form asp-action="Update" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mr-3"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CustomerId" />

            <div class="form-group">
                <label asp-for="AccountNO"> </label>
                <input class="form-control" readonly asp-for="AccountNO">

            </div>


            <div class="form-group">
                <label asp-for="CreateAccountDate"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text cursor-pointer" id="spanDateAmount">تاریخ</span>
                    </div>
                    <input type="text" class="form-control" asp-for="CreateAccountDate">
                </div>

            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" asp-for="Description"></textarea>
            </div>
            <button type="submit" class="btn btn-warning mb-3"><i class="ri-edit-fill ml-2"></i>ویرایش</button>
            <a asp-controller="Account" asp-action="List" class="btn btn-secondary mb-3"><i class="ri-refresh-fill ml-2"></i>انصراف</a>

        </form>
    </div>
</div>

@section scripts
{



        <script src="~/Controllers/Accounts/AccountJs.js"></script>

   }