@model List<AccountsListsDTO>
@{
    ViewData["Title"] = "لیست حساب ها";
}


<div class="row">
    <div class="col-sm-12">
        <div class="iq-card">
            <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                    <h4 class="card-title">لیست حساب ها</h4>
                </div>
            </div>
            <div class="iq-card-body">
                <div class="table-responsive">
                    <div class="row justify-content-between">
                        <div class="col-sm-12 col-md-6">
                            <div id="user_list_datatable_info" class="dataTables_filter">
                                <form class="mr-3 position-relative" method="get" asp-controller="Report" asp-action="AccountsLists">
                                    <div class="form-group mb-0 btn-group">
                                        <input type="search" class="form-control" name="search" id="exampleInputSearch" placeholder="جستجو" aria-controls="user-list-table">
                                        <button class="btn btn-info "><i class="fa fa-search"> </i></button>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="user-list-files d-flex float-right">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" id="totalDivs">
                        <div class="iq-card py-2 px-3">
                            <div class="row">
                                <div class="align-self-center d-flex col-lg-8 col-6" id="btndiv">

                                    <button type="button" id="totalall" class="btn btn-outline-success mb-3 ml-0">
                                        <i class="ri-calendar-2-fill ml-2"></i>نمایش جمع حساب ها
                                    </button>
                                </div>
                                <div class="col-lg-4 col-6">
                                    <div class="d-flex justify-content-between">
                                        <div id="sort-by" class="iq-algolia-sort">
                                            <div class="ais-SortBy iq-algolia-sort  " style="display:inline-flex">
                                                <h6 readonly id="totalAmount"></h6>
                                                <h6 readonly>ریال</h6>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="Accounts-list-table">
                        <table class="table table-striped table-bordered mt-4" role="grid" aria-describedby="user-list-page-info">
                            <thead class="thead-dark">
                                <tr>

                                    <th id="datetimeth"> تاریخ ایجاد حساب</th>
                                    <th> شماره حساب</th>
                                    <th> نام مشتری</th>
                                    <th> مانده حساب</th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.CreateAccountDate</td>
                                        <td>@item.AccountNO</td>
                                        <td>@item.FullName</td>
                                        <td class="amounts">@item.TotalAccountPayment.SeparatorNum()</td>

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Controllers/Reports/AccountListJs.js"></script>

   
}