@model DetailsPaymentAccountViewModel

@{

    ViewData["Title"] = "جزییات قسط";
}

<div id="InstallmentDetails">


    <div class="col-12"> توضیحات  </div>
    <textarea class="col-12" readonly rows="5"> @Model.Description  </textarea>


</div>